<body>
    <!-- <div>
    <button
      style="
        background-color: rgb(144, 210, 243);
        border: none;
        margin-left: 95%;
        width: 5%;
      "
    >
      <a class="nav-link" href="#" routerLink="/Cart"
        ><i
          class="fa fa-cart-plus"
          style="font-size: 70px; color: hsl(0, 0%, 3%)"
        ></i
      ></a>
      <div style="font-size: 20px">
        {{ totalItem }}
      </div>
    </button>
  </div> -->
    <div class="formAdd">
        <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <input type="hidden" name="id" [value]="biscuitService.biscuitData.id" />

                        <label for="name" class="float-left">Title</label>
                        <div *ngIf="title.invalid && (title.touched || title.dirty)" class="float-right">
                            <p class="text-danger">Required</p>
                        </div>
                        <input type="text" name="title" class="form-control" placeholder="Enter Biscuits Name" #title="ngModel" [(ngModel)]="biscuitService.biscuitData.title" required />
                    </div>

                    <div class="col-md-3">
                        <label for="name" class="float-left">Price</label>
                        <div *ngIf="price.invalid && (price.touched || price.dirty)" class="float-right">
                            <p class="text-danger">Required</p>
                        </div>
                        <input type="number" name="price" class="form-control" placeholder="Enter Price" #price="ngModel" [(ngModel)]="biscuitService.biscuitData.price" required />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="quantity" class="label float-left">Quantity</label>
                        <div *ngIf="quantity.invalid && (quantity.touched || quantity.dirty)" class="float-right">
                            <p class="text-danger">Required</p>
                        </div>
                        <input type="number" name="quantity" class="form-control" placeholder="Enter Quantity" #quantity="ngModel" [(ngModel)]="biscuitService.biscuitData.quantity" required />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <button type="submit" [disabled]="quantity.value === 0" class="btn btn-success btn-block">
              Save
            </button>
                    </div>
                    <div class="col-md-2">
                        <button type="reset" class="btn btn-danger btn-block">
              Cancel
            </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-5">
        <button class="btn btn btn-dark" style="margin-left:1%;" onclick="history.back()">Go Back</button>&nbsp;&nbsp;&nbsp;
        <!-- <button class="btn btn-danger" routerLink="/Admin">Log Out</button>     -->
        <table class="table table-hover">
            <thead class="thead">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <!--  <th>Image</th> -->
                    <th colspan="2" style="text-align: center">Actions</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let biscuit of biscuitDetails" class="table-info">
                    <td class="table-info">{{ biscuit.id }}</td>
                    <td class="table-info">{{ biscuit.title }}</td>
                    <td class="table-info">{{ biscuit.price }}</td>
                    <td class="table-info">{{ biscuit.quantity }}</td>
                    <!--   <td class="table-info">{{ biscuit.image }}</td>    -->
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="Update(biscuit)">
              Edit
            </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="Delete(biscuit)">
              Delete
            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/action_page.php">
                        <div class="container">
                            <h1>Update</h1>
                            <p>Please fill in the information that needs to be updated</p>
                            <hr />
                            <label for="id"><b>ID</b></label>
                            <input type="text" disabled placeholder="Update ID" name="id" id="id" required [(ngModel)]="BiscuitsToUpdate.id" />
                            <label for="title"><b>Title</b></label>
                            <input type="text" placeholder="Update  Name" name="title" id="title" required [(ngModel)]="BiscuitsToUpdate.title" />
                            <label for="price"><b>Price</b></label>
                            <input type="text" placeholder="Update Price" name="price" id="price" required [(ngModel)]="BiscuitsToUpdate.price" />
                            <label for="quantity"><b>Quantity</b></label>
                            <input type="text" placeholder="Update Quantity" name="quantity" id="quantity" required [(ngModel)]="BiscuitsToUpdate.quantity" />
                            <!-- <label for="image"><b>Image</b></label>
                  <input
                    type="text"
                    placeholder="Update image"
                    name="image"
                    id="image"
                    required
                    [(ngModel)]="BiscuitsToUpdate.image"
                  /> -->
                            <hr />

                            <button type="submit" class="registerbtn" (click)="UpdateBiscuit()">
                Update
              </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>