<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <nav class="navbar navbar-expand-sm" style="background-color:rgb(23, 23, 23); height: 100px; width: 1500px">
        <div class="container-fluid">

            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button> -->
            <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar"> -->
            <ul class="navbar">
                <li class="nav-item">


                    <div class="button1" style="font-size: 22px" href="#" routerLink="/Home">Home
                    </div>
                </li>

                <li class="nav-item">
                    <div class="button2" style="font-size: 22px" href="#" routerLink="/Login">User Login
                    </div>
                </li>
                <li class="nav-item">
                    <div class="button3" style="font-size: 22px" href="#" routerLink="/Registration">User Registration
                    </div>
                </li>
                <li class="nav-item">
                    <div class="button4" style="font-size: 22px" href="#" routerLink="/Admin">Admin Login
                    </div>
                </li>

            </ul>
        </div>


    </nav>

</body>

</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="./home.component.css" />
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="menu"></div>
        </div>
        <div class="content">
            <!-- <h1 style="color: rgb(236, 12, 68)">
                Grocery Delivery Application
                <h4 style="color: rgba(45, 37, 37, 0.804); margin-top: 2%; margin-left: 15%;">- We Deliver the Freshness you want!</h4>
            </h1> -->
        </div>
    </div>

    <!------ Start Footer ------>

    <div class="footer" style="width: 100%; background-color: black; font-family: 'Times New Roman' ">
        <div class="footer-parts " style="color: white ">
            <div class="footer-parts-h3 " style="color: white ">About Us</div>
            <div class="footer-parts-p " style="color: white ">
                You can’t stop time, but you can save it!<br /> Living in the city, there is never enough time to shop for groceries, pick-up supplies, grab food and wade through traffic on the way back home. Send packages across the city and get everything
                from food, groceries, medicines and pet supplies delivered right to your doorstep. From any store to your door, just make a list and we’ll make it disappear. Just Click It!
            </div>
        </div>
        <div class="footer-parts "></div>
        <div class="footer-parts " style="float: right; color: white ">
            <div class="footer-parts-h3 " style="color: white ">Our Location</div>
            <div class="footer-parts-p " style="color: white ">
                Dail us at 229339,<br /> Epip Phase II<br />Capgemini
                <br />Banglore<br /> 560066

            </div>


            <div class="footer-icons "></div>
        </div>
    </div>

    <div class="footer-bottom " style="width: 100% ">
        <div class="white ">
            <!-- &copy;
            <script language="javascript " type="text/javascript "></script>
            . All rights reserved by
            <a href="https://github.com/topics/shopping-app " target="_blank ">"Online Grocery Delivery-Team1 "</a
        >. -->
        </div>
    </div>
    <!------ End Footer ------->

    <div class="clearfix "></div>
</body>

</html>