<!DOCTYPE html>

<html>

<head>


    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="cod-payment.component.css" />  
</head>

<body>


    <div *ngIf="" class="alert alert-success alert-dismissible fade show" role="alert"    >

        <strong>Success !</strong> You have Registered...<button onclick="CloseAlert()" type="button" class="close"
            data-dismiss="alert" aria-label="Close"  >

                    <span aria-hidden="true">&times;</span>

                  </button>
    </div>


    <div class="container">


        <div class="title">Cash On Delivery</div>


        <div class="content">


            <form [formGroup]="registrationForm">


                <div class="user-details">


                    <div class="input-box">

                        <span class="details">Name</span><input type="text" placeholder="Enter Name"  id="name"
                            formControlName="name" /> <span   class="text-danger" *ngIf="registrationForm.get('name').invalid &&

 registrationForm.get('name').touched

 " >Name is required</span><br />

                        
                    </div>

                    
                     <div class="input-box">

                        <span class="details">Mobile number</span>
                        <input type="text" placeholder="Enter Your Mobile Number" id="mobile"
                            formControlName="mobile" />
                        <span class="text-danger" *ngIf="

 registrationForm.get('mobile').invalid &&

 registrationForm.get('mobile').touched

 " >Mobile number is required</span><br />

                       
                    </div>

                    <div class="input-box">

                         <span class="details">Email</span>  <input 
                            type="text"  placeholder="Enter Email" id="email" 
                            formControlName="email"   />
                        <span class="text-danger" *ngIf="

 registrationForm.get('email').invalid &&

 registrationForm.get('email').touched

 " >email is required</span><br />

                    
                    </div>

                    <div class="input-box">

                         <span class="details">Landmark</span>  <input  
                            type="text" placeholder="Enter Landmark"  id="landmark" 
                             formControlName="landmark" />
                        <span class="text-danger" *ngIf="

 registrationForm.get('landmark').invalid &&

 registrationForm.get('landmark').touched

 " >Landmark is required</span ><br />
                    </div>


                    <div class="input-box">

                        <span class="details">Street</span> <input type="text" 
                             placeholder="Enter Street"  id="street"
                            formControlName="street" /><span class="text-danger" 
                             *ngIf="

 registrationForm.get('street').invalid &&

 registrationForm.get('street').touched

 " >Street is required</span><br />

                       
                    </div>

                   <div class="input-box">

                        <span class="details">City </span>  <input 
                            type="text"  placeholder="Enter City"  id="city" 
                             formControlName="city" /> <span class="text-danger" 
                            *ngIf="

 registrationForm.get('city').invalid &&

 registrationForm.get('city').touched

 " >City is required</span><br />

                         </div>



                     <div class="input-box">

                         <span class="details">State </span> <input
                            type="text"  placeholder="Enter State"  id="state" 
                             formControlName="state" />
                        <span class="text-danger" *ngIf="

 registrationForm.get('state').invalid &&

 registrationForm.get('state').touched

 " >State is required</span ><br />

                       
                    </div>

                     <div class="input-box">

                         <span class="details">Pin-Code </span>  <input 
                            type="text" placeholder="Enter PinCode" id="pincode" 
                             formControlName="pincode" />  <span 
                            class="text-danger" *ngIf="

 registrationForm.get('pincode').invalid &&

 registrationForm.get('pincode').touched

 " >PinCode is required</span><br />

                         </div>

                    
                </div>
                <div>
                    <span class="details">Amount : {{totalprice}}</span>
                </div>



                <div class="button">

                    <button style="background: black; height: 80%; width: 15%; "   type="submit" (click)="payment()"
                        [disabled]="registrationForm.invalid" class="btn btn-primary">

                        Order

                         </button> 
                         <button style="background: black;height: 80%; width: 15%; "   type="submit"
                        (click)="handleClear()"  class="btn btn-primary">

                         Clear

                         </button>  <button style="background: black;height: 80%; width: 15%; " onclick="history.back()"
                        class="btn btn-primary">Go Back</button> 
                </div>

            </form>

        </div>

    </div>

</body>

</html>